{% comment %}<!--
Use this add elements to the <body/> of the document.
-->{% endcomment %}

<!-- <script>addBackToTop({
  diameter: 56,
  backgroundColor: 'rgb(40, 40, 40)',
  textColor: '#fff'
})</script> -->

<!-- implementing scroll to top -->
<!-- <script type="text/javascript">
	document.getElementsByTagName("body")[0].setAttribute("id","top");
	document.getElementById("_drawer--opened").onclick = function(){
    var position =
        document.body.scrollTop || document.documentElement.scrollTop;
    if (position) {
        window.scrollBy(0, -Math.max(1, Math.floor(position / 10)));
        scrollAnimation = setTimeout("scrollToTop()", 30);
    } else clearTimeout(scrollAnimation);
}
</script> -->

<!-- socials and footer Hydejack link open in new tabs -->
<script type="text/javascript">
  var len =  document.getElementsByClassName("no-mark-external").length;
  for (var i = 0 ; i < len; i++) {
    document.getElementsByClassName("no-mark-external")[i].setAttribute("target","_blank");
  }
</script>

<script defer type="text/javascript">
  // var spy;
  // var isHome = false;
  document.getElementById('_pushState').addEventListener('hy-push-state-load', function() {
    document.getElementsByClassName("external")[0].setAttribute("target", "_blank");
    // if (document.getElementsByClassName("home-element").length == 1){
    //   document.getElementById("_drawer--opened").closest("ul").setAttribute("id","my-awesome-nav");
    //   spy = new Gumshoe('#my-awesome-nav a');
    //   isHome = true;
    // }
  });
</script>

<!-- <script defer type="text/javascript">
  document.getElementById('_pushState').addEventListener('hy-push-state-ready', function() {
    if (isHome == true){
      spy.destroy();
      isHome = false;
    }
  });
</script> -->

<!-- reduce font size of tagline-->
<!-- incorporate typewriter.js -->
<script type="text/javascript">
  document.getElementsByClassName("sidebar-about")[0].children[2].innerHTML = "<span class='sr-only'>PhD Student in Technology and Social Behavior</span><span id='mytag' aria-hidden='true'></span>";
  document.getElementsByClassName("sidebar-about")[0].children[2].style.fontSize = "0.83rem";
  var typewriter = new Typewriter(mytag, {
    loop: false,
    delay: 55,
    deleteSpeed: 1
  });
  typewriter.pauseFor(2000)
  .typeString('PhD Student in Technology & Social Behavior')
  .pauseFor(6000)
  .start();
</script>

