{% comment %}<!--
Use this add elements to the <body/> of the document.
-->{% endcomment %}

<!-- <script>addBackToTop({
  diameter: 56,
  backgroundColor: 'rgb(40, 40, 40)',
  textColor: '#fff'
})</script> -->

<!-- implementing scroll to top -->
<!-- <script type="text/javascript">
	document.getElementsByTagName("body")[0].setAttribute("id","top");
	document.getElementById("_drawer--opened").onclick = function(){
    var position =
        document.body.scrollTop || document.documentElement.scrollTop;
    if (position) {
        window.scrollBy(0, -Math.max(1, Math.floor(position / 10)));
        scrollAnimation = setTimeout("scrollToTop()", 30);
    } else clearTimeout(scrollAnimation);
}
</script> -->

<!-- socials open as external link -->
<script type="text/javascript">
  var len =  document.getElementsByClassName("no-mark-external").length;
  for (var i = 0 ; i < len; i++) {
    document.getElementsByClassName("no-mark-external")[i].setAttribute("target","_blank");
  }
</script>

<!-- reduce font size of Name and tagline -->
<script type="text/javascript">
  document.getElementsByClassName("sidebar-about")[0].children[1].children[0].style.fontSize = "2rem";
  document.getElementsByClassName("sidebar-about")[0].children[2].style.fontSize = "1rem";
</script>
