{% comment %}<!--
Use this add elements to the <head/> of the document.
-->{% endcomment %}
<link rel="shortcut icon" type="image/png" href="/assets/icons/favicon.ico">
<link rel="stylesheet" href="/assets/icomoon/style.css">
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/gh/cferdinandi/gumshoe@4/dist/gumshoe.polyfills.min.js"></script> -->
<meta name="google-site-verification" content="Kghnw3GY5eb5r6k7i6m8b1AUutptytsD-h4NDSjY7rA" />