// You can add CSS rules here that will be inlucded in Hydejack's CSS file
// .icon-menu:before {
//     display : none;
// }
// .nav-btn {
//     display : none;
// }

//darken the menu drawer icon
.icon-menu:before {
    color: rgb(150,150,150);
}

//justify text
// .text-justify {
//   text-align: justify;
// }

//sidebar logo size
.avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    overflow: hidden;
}

// main text font size
p {
    font-size: 1.07rem;
}

//lead text font size
p.lead {
    font-size: 1.25rem;
}

// reduce top margin and weight of headings
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0; 
    font-weight: 500;
}

// change color of h2 - h6 to pitch black
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    color: black;
}

// change color of h1 to blue
h1, .h1 {
    color: rgb(1 92 171);
}

//turn body text black
body {
    color: black;
}

//turn footer text black
main>footer.content {
    color: black;
}

//fix black title on v9 theme
h2.h1 {
    color: white;
}

//make hyperlinks blue for v9
.content a:not(.btn) {
    color: rgb(1 92 171);
}

//reduce weight of hyperlink underline
hy-push-state a {
    border-bottom: 1px solid;
}

//give menu items regular weight for v9
html {
    --font-weight-heading: 400;
}