// You can add CSS rules here that will be inlucded in Hydejack's CSS file
// .icon-menu:before {
//     display : none;
// }
// .nav-btn {
//     display : none;
// }

//justify text
.text-justify {
  text-align: justify;
}

//sidebar logo size
.avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    overflow: hidden;
}

//font size, default is 16px
html {
    font-size: 18px;
}

//reduce top margin of headings
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .heading {
    margin-top: 0;
}

//turn footer text black
main>footer {
    color: black;
}
